quan-ly-tim-kiem-phong-tro.code-workspace
.vscode/settings.json
iot/.vscode/c_cpp_properties.json
quan_ly_tim_kiem_phong_tro_fe/linux/flutter/generated_plugin_registrant.cc
quan_ly_tim_kiem_phong_tro_fe/linux/flutter/generated_plugin_registrant.cc
quan_ly_tim_kiem_phong_tro_fe/linux/flutter/generated_plugin_registrant.cc
quan_ly_tim_kiem_phong_tro_fe/linux/flutter/generated_plugins.cmake
quan_ly_tim_kiem_phong_tro_fe/windows/flutter/generated_plugin_registrant.cc
quan_ly_tim_kiem_phong_tro_fe/windows/flutter/generated_plugins.cmake
quan-ly-tim-kiem-phong-tro-admin/.env
quan_ly_tim_kiem_phong_tro_fe/linux/flutter/generated_plugin_registrant.cc
.idx/
.vscode/
quan_ly_tim_kiem_phong_tro_fe/pubspec.lock
quan_ly_tim_kiem_phong_tro_fe/android/app/google-services.json
quan_ly_tim_kiem_phong_tro_fe/macos/Flutter/GeneratedPluginRegistrant.swift
quan_ly_tim_kiem_phong_tro_fe/windows/flutter/generated_plugin_registrant.cc
quan_ly_tim_kiem_phong_tro_fe/windows/flutter/generated_plugins.cmake
quan-ly-tim-kiem-phong-tro.code-workspace
quan-ly-tim-kiem-phong-tro-admin/.next/
**/.next/
**/node_modules/
**/.vercel/
**/.env


quan-ly-tim-kiem-phong-tro-admin/next-env.d.ts
quan-ly-tim-kiem-phong-tro-admin/tsconfig.tsbuildinfo
quan_ly_tim_kiem_phong_tro_fe/android/app/build.gradle.kts
quan-ly-tim-kiem-phong-tro-admin/public/uploads/
quan-ly-tim-kiem-phong-tro-admin/src/test-wallet-blockchain/identities/
blockchain-fabric-explorer/pgdata/
